services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER_FILE=/run/secrets/db_username
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_DB_FILE=/run/secrets/db_name
    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 1
        order: start-first
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U postgres
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - nest-auth-net
    volumes:
      - nest-auth-vol:/var/lib/postgresql/data
    secrets:
      - db_password
      - db_username
      - db_name
  redis:
    image: redis
    ports:
      - '6379:6379'
    networks:
      - nest-auth-net
  auth-service-nest:
    image: karanfullstack/nest-auth:build-11c61b9d558dca5161b4d1300480826bc1b022c0
    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 1
        order: start-first
    healthcheck:
      test:
        - CMD
        - wget
        - '--no-verbose'
        - '--tries=1'
        - '--spider'
        - http://localhost:3000/user/health
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - DATABASE_PORT=5432
      - DATABASE_NAME=nest-db
      - DATABASE_PASSWORD_FILE=/run/secrets/db_password
      - DATABASE_USER=postgres
      - HOST=db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgres://postgres:1234@localhost:5434/nest-db
      - JWT_EXPIRES_IN=3600
      - REFRESH_JWT_EXPIRES_IN=86400
      - JWT_SECRET=your_jwt_secret_key
      - JWT_ISSUER=localhost:3000
      - JWT_AUDIENCE=localhost:3000
      - NODE_HOST="{{.Node.Hostname}}"
    networks:
      - nest-auth-net
    secrets:
      - db_password
volumes:
  nest-auth-vol: null
networks:
  nest-auth-net: null
secrets:
  db_password:
    external: true
  db_username:
    external: true
  db_name:
    external: true
