name: nestjs-auth cd

on:
  push:
    branches: ["main"]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      IMAGE_NAME: karanfullstack/nest-auth
      IMAGE_TAG: build-${{github.sha}}
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          persist-credentials: true
      - name: Build docker image
        run: docker build -t ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} --platform linux/amd64 .

      - name: Login into docker hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Push image to docker hub
        run: docker push ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}

      - name: Update compose file
        uses: fjogeleit/yaml-update-action@v0.16.1
        with:
          valueFile: compose.yml
          propertyPath: 'services["auth-service-nest"].image'
          value: ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          commitChange: false
      - name: Commit the changes
        run: |
          git config user.name github-actions
          git config user.email github-action@github.com
          git add .
          git commit -m "bump the image version ${{env.IMAGE_TAG}}"
          git push

  deploy:
    name: Deploy the image to docker swarm aws
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: karanfullstack/nest-auth
      IMAGE_TAG: build-${{github.sha}}
    needs:
      - build-and-push
    steps:
      - name: Login into ssh server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.SWARM_HOST_MANAGER}}
          username: ${{secrets.SWARM_HOST_USERNAME}}
          key: ${{secrets.SWARM_SSH_KEY}}
          port: ${{secrets.SWARM_SSH_PORT}}
          script: |
            set -e
            cd ~/app

            # pull compose file using git
            git fetch origin main
            git checkout origin/main
            docker pull ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
            docker stack deploy -c compose.yml nest-app
